.login{
    background-color: #F0F0F0;
    min-height: 100vh;
    min-width: 100vw;
}
.log-container{
   padding: 7.0rem;
   margin-left: 340px;
}
.log-form{
    top: 40%;
    left: 50%;
    border-radius: 8px;
    background-color: #FFFFFF;
    max-width: 400px;
    height: 100%;
}
.log-logo{
    margin-left: 150px;
}
.log-top{
    display: flex;
    column-gap: 20px;
    font-size: 0.8rem;
    margin-left: 73px;
}
.lt-p1{
    color:#010080;
    margin-left: -15px;
}
.log-pass{
  display: flex;
  height: 2.5rem;
  width: 85%;
  color: #000;
  margin-left: 20px ;
  margin-bottom: 1.5rem;
  padding: 0.2rem 0.3rem;
  font-size: small;
  border:1.5px solid #000000;
  border-radius: 8px 8px;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  background-color:#FFFFFF;
}
.log-pass span {
  position: relative;
    right: 1vh;
    color: #000;
}
.login-input{
  outline: none;
  background-color: transparent;
  border: hidden;
  height: 2rem;
  color: #000000;;
  width: 80%;
  margin-right: 36px ;
  margin-bottom: 1.5rem;
  padding: 0.9rem 1.4rem;
}
label{
    margin-left: 20px;
}
.login-input-text{
    margin-top: 8px;
    display: block;
    border: none;
    height: 2.5rem;
    width: 85%;
    margin-left: 20px ;
    margin-bottom: 1.5rem;
    padding: 0.2rem 0.3rem;
    font-size: small;
    color: #000;
    border-radius: 8px 8px;
    border:1.5px solid #000000;
    -webkit-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
    background-color:#FFFFFF;
  }
  .login-input-text:hover{
    outline: 0.5px solid #000000;
    -webkit-box-shadow: 2px 2px 9px -2px #000000;
            box-shadow: 2px 2px 9px -2px #000000;
  }
  .ld-p{
    margin-top: -20px;
    margin-left: 250px;
    color: #010080;
    font-size: 0.8rem;
  }
  .log-but{
    margin-top: -15px;
  }
  .login-button{
    padding: 7px 49px;
    border: 1px solid #010080;
    background-color: #010080;
    color: #fff;
    border-radius: 10px;
    font-size: 1.1rem;
    font-weight: 400;
    cursor: pointer; 
    margin-top: 25px;
    margin-left: 110px; 
  }