.register{
    background-color: #F0F0F0;
    min-height: 100vh;
    min-width: 100vw;
}
.reg-container{
    padding: 2.0rem;
    margin-left: 400px;
}
.reg-form{
    top: 40%;
    left: 50%;
    border-radius: 8px;
    background-color: #FFFFFF;
    max-width: 400px;
    height: 100%;
}
.reg-logo{
    margin-left: 150px;
}
.reg-p{
    margin-top: -4px;
    margin-left: 113px;
}
label{
    margin-top: -4px;
    margin-left: 20px;
}
.reg-input-text{
    margin-top: 8px;
    display: block;
    border: none;
    height: 2.5rem;
    width: 85%;
    margin-left: 20px ;
    margin-bottom: 1.5rem;
    padding: 0.2rem 0.3rem;
    font-size: small;
    color: #000;
    border-radius: 8px 8px;
    border:1.5px solid #000000;
    -webkit-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
    background-color:#FFFFFF;
}
.reg-input-text:hover{
    outline: 0.5px solid #000000;
    -webkit-box-shadow: 2px 2px 9px -2px #000000;
            box-shadow: 2px 2px 9px -2px #000000;
  }
.reg-but{
    margin-top: -15px;
}
.reg-button{
    padding: 7px 69px;
    border: 1px solid #010080;
    background-color: #010080;
    color: #fff;
    border-radius: 10px;
    font-size: 1.1rem;
    font-weight: 400;
    cursor: pointer; 
    margin-top: 16px;
    margin-left: 100px; 
}