.sidebar{
    flex: 1;
}
.side-container{
    margin-top: 20px;
    margin-left: 32px;
}
.sides{
    margin-top: 10px;
}
.sides p{
    color: black;
}
.side1{
    margin-top: 20px;
}
.side1 p{
    color: black;
}
.side2{
margin-top: 20px;
}
.side2 p{
    color: black;
}
.side3{
    margin-top: 20px;
}
.side3 p{
    color: black;
}
.side4{
    margin-top: 20px;
}
.side4 p{
    color: black;
}
.side5{
    margin-top: 20px;
}
.side5 p{
    color: black;
}
.side6{
    margin-top: 20px;
}
.side6 p{
    color: black;
}
.side7{
    margin-top: 20px;
}
.side7 p{
    color: black;
}
.side8{
    margin-top: 20px;
}
.side8 p{
    color: black;
}
.side9{
    margin-top: 20px;
}
.side9 p{
    color: black;
}
.side10{
    margin-top: 20px;
}
.side10 p{
    color: black;
}
.side11{
    margin-top: 20px;
}
.side11 p{
    color: black;
}
Link:hover{
    padding: 17px;
    width: 90%;
    height: 50%;
    color: #010080;
    background-color: #eee1ff;
    outline: 0.5px solid #eee1ff;
    -webkit-box-shadow: 2px 2px 9px -2px #eee1ff;
            box-shadow: 2px 2px 9px -2px #eee1ff;
}
.side3-select{
    padding: 17px;
    width: 90%;
    height: 30%;
    color: #010080;
    background-color: #eee1ff;
}
.side3-select p{
    color: #010080;
}
.side1-select{
    padding: 17px;
    width: 90%;
    height: 50%;
    color: #010080;
    background-color: #eee1ff;
}
.side1-select p{
    color: #010080;
}
.sides-select{
    padding: 17px;
    width: 90%;
    height: 50%;
    color: #010080;
    background-color: #eee1ff;
}
.sides-select p{
    color: #010080;
}
